.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom: 15px;
    right: 16px;
	background-color:#4cc370;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:1000;/*con este codigo el boton se interpone a toda la pagina*/
}
.float:hover {
	text-decoration: none;
	color: rgb(#4cc370);
  background-color:rgb(10, 10, 10);
}

.my-float{
	margin-top:16px;
}